#wpadminbar {
    display: none !important;
}

#pplcz-parcelshop-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#ppl-parcelshop-map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}