.wc-block-components-shipping-address-hide-send-address .wc-block-components-totals-shipping .wc-block-components-shipping-address {
    display: none !important;
}

.wc-block-components-shipping-address-hide-send-address .wc-block-components-totals-shipping .wc-block-components-shipping-address {
    display: none !important;
}
.wc-block-components-shipping-address-hide-send-address  .wc-block-components-totals-shipping__change-address__link {
    display: none !important;
}